<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Implementation</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav class="mynav">
        <ul>
            <li><a href="/"><img src="Images/logo.png" alt="Brand logo"></a></li>
            <li><a href="/" class="text">Implementation of an API</a></li>
            <li><a href="/" class="text" id="home">Home</a></li>
        </ul> 
    </nav>
    
