<%- include('partials/header.ejs') %>
    <div class="container">
        <form method="get">
            <input type="submit" value="Click here to know your IP address" formaction="/knowIP" class="btn"><br>
            <input type="submit" value="Click here to know about an IP address" formaction="/ip2location" class="btn"><br>
            <input type="submit" value="Click here to know about a domain" formaction="/whois" class="btn">
        </form>
    </div>
<%- include('partials/footer.ejs') %>