html{
    background-color:darkgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img{
    height: 70px;
    width: 70px;
    background-color: black;
}
  
li{
    float: left;
}
  
li .text{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

li .text:hover{
    background-color:darkgrey;
}  

.btn{
    height: 80px;
    font-size: 1.3rem;
    width: 400px;
    margin: 20px;
    padding: 8px;
    border: 7px solid black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
 
#ip{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.btn-yourip{
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.3rem;
}

.form{
    font-size: 1.7rem;
}

.info{
    font-size: 1.3rem;
}

.btn-imp{
    height: 2rem;
    margin: 0.3rem;
}